body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cards{
  display: block;
}

.cards > * {
  break-inside: avoid;
  overflow: unset;
}

.card{
    margin: 0 auto;
}

@media (min-width: 770px) {
  .cards {
    column-count: 2;
    column-gap: 20px;
  }
}

@media (min-width: 960px) {
  .cards {
    column-count: 3;
  }
}
@media (min-width: 1200px) {
    .cards {
        column-count: 4;
    }
}
